.home-container {
    width: 1268px;
    position: relative;
    left: 260px;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 12px;
    margin: 33px;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.css-1wjzr1s-MuiButtonBase-root-MuiIconButton-root {
    color: black !important;
}

.flex-row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar-right {
    width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.story-home {
    width: 666px;
}



/* .avatar {
    border-radius: 50%;
    width: 75px;
    height: 75px;
} */

.hover:hover {
    background-color: rgb(245, 237, 237);
    border-radius: 5px;
}